 body {
   overflow-y: auto;
   max-height: 100vh;
   font-family: "Nunito", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #eeeeee;
   color: #424242;
 }

 .overall {
   position: relative;
   width: 50%;
   height: 60%;
   border: 1px solid #ccc;
   overflow: hidden;
 }

 #forms-left,
 #result-right {
   background-color: #f3f3f3;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transition: transform 0.3s ease-in-out;
 }

 #forms-left {
   z-index: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 select {
   width: 100%;
 }

 #submit {
   width: 100%;
   background-color: #424242;
   color: #f3f3f3;
   border-radius: 5px;
   padding: 3px;
   border: none;
   font-weight: bold;
 }

 #result-right {
   padding-top: 50px;
   z-index: 1;
   transform: translateY(100%);
   /* width: 80%; */
 }

 #copy-button:active {
   background-color: #f3f3f3;
   color: #424242
 }

 textarea::-webkit-scrollbar {
   display: none;
   /* Safari and Chrome */
 }

 textarea {
   width: 70%;
   height: auto;
   resize: none;
   -ms-overflow-style: none;
   /* Internet Explorer 10+ */
   scrollbar-width: none;
   /* Firefox */
 }

 #botoes .background-button {
   background-color: #424242;
   color: #f3f3f3;
   border-radius: 5px;
   cursor: pointer;
   border: none;
   font-weight: bold;
   padding: 3px;
 }

 #button-up-arrow {
   border: none;
   margin-top: 10vh;
   cursor: pointer;
 }

 #up-arrow {
   width: 1vw;
 }

 #resetPosition {
   display: none;
 }